---
import Layout from "@/layouts/Layout.astro";
import CtaButtton from "@/components/cta-buttton.astro";
import SchoolUnitCard from "@/components/school-unit-card.astro";
import ProgramCard from "@/components/program-card.astro";
import { schoolUnits } from "@/data/school-units";
import { programs } from "@/data/programs";
import { homeMetaData } from "@/data/meta-data";
---

<Layout
  title={homeMetaData.title}
  description={homeMetaData.description}
  inHomePage
>
  <section class="mb-32">
    <div
      class="container px-4 pt-32 lg:pt-48 mx-auto flex flex-col justify-center items-center"
    >
      <h1
        class="font-plus-jakarta-sans text-[40px] lg:text-6xl font-bold w-full max-w-[890px] text-center leading-[48px] lg:leading-[74px] mb-6"
      >
        Selamat datang di Sekolah Islam Terpadu (SIT) LaTahzan
      </h1>
      <p
        class="text-lg lg:text-xl text-[#474747] w-full max-w-[780px] text-center tracking-[0.5px] mb-8"
      >
        Tempat terbaik untuk membentuk generasi unggul yang cerdas, berakhlak
        mulia, dan berlandaskan nilai-nilai Islam.
      </p>

      <div class="w-full max-w-sm mb-20">
        <CtaButtton href="/ppdb"><span>Daftar Sekarang</span></CtaButtton>
      </div>

      <div class="relative w-full flex justify-center">
        <div
          class:list={[
            "w-full aspect-video rounded-xl md:rounded-4xl overflow-hidden shadow",
            "scale-100 transition-transform",
          ]}
        >
          <img
            src="/images/hero-1.jpeg"
            alt="Kegiatan belajar mengajar"
            class="w-full h-full"
          />
        </div>
        <div
          class="absolute w-full max-w-[1180px] h-[1180px] top-1/2 -translate-y-1/2 -z-10"
        >
          <img
            src="/images/hero-ellipse.svg"
            alt="Hero Ellips"
            class="pointer-events-none w-full h-full"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="mb-32">
    <div class="container px-4 mx-auto">
      <p
        class="text-xs md:text-base tracking-[2px] text-center text-[#474747] mb-2"
      >
        UNIT PENDIDIKAN
      </p>
      <h2
        class="font-plus-jakarta-sans text-4xl md:text-5xl text-center w-full max-w-[570px] mx-auto leading-[40px] md:leading-[54px] mb-6"
      >
        Pendidikan Islami dari Usia Dini hingga Remaja
      </h2>
      <p
        class="text-base md:text-lg text-[#999999] w-full max-w-[780px] text-center mx-auto mb-12"
      >
        Dengan pendekatan holistik berbasis nilai-nilai Islam, setiap unit
        pendidikan di SIT LaTahzan dirancang untuk mendukung potensi anak sejak
        dini hingga usia remaja.
      </p>

      <div>
        <ul class="grid md:grid-cols-2 gap-4 md:gap-5">
          {
            schoolUnits.map((unit) => (
              <li>
                <SchoolUnitCard
                  alt={unit.alt}
                  src={unit.src}
                  title={unit.title}
                />
              </li>
            ))
          }
        </ul>
        <div></div>
      </div>
    </div>
  </section>

  <section class="mb-[458px]">
    <div class="container px-4 mx-auto">
      <p
        class="text-xs md:text-base tracking-[2px] text-center text-[#474747] mb-2"
      >
        INOVASI PEMBELAJARAN
      </p>
      <h2
        class="font-plus-jakarta-sans text-4xl md:text-5xl text-center w-full max-w-[570px] mx-auto leading-[40px] md:leading-[54px] mb-6"
      >
        Program Unggulan
      </h2>
      <p
        class="text-base md:text-lg text-[#999999] w-full max-w-[780px] text-center mx-auto mb-12"
      >
        Kami menghadirkan beragam program unggulan yang menjadi ciri khas SIT
        LaTahzan—mengintegrasikan nilai-nilai Islam dengan pembelajaran akademik
        dan pengembangan diri.
      </p>

      <div class="relative">
        <!-- dekorasi -->
        <svg
          width="1380"
          height="1380"
          viewBox="0 0 1380 1380"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="hidden lg:block absolute -z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        >
          <g filter="url(#filter0_f_77_247)">
            <circle cx="690" cy="690" r="590" fill="url(#paint0_radial_77_247)"
            ></circle>
          </g>
          <defs>
            <filter
              id="filter0_f_77_247"
              x="0"
              y="0"
              width="1380"
              height="1380"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"></feBlend>
              <feGaussianBlur
                stdDeviation="50"
                result="effect1_foregroundBlur_77_247"></feGaussianBlur>
            </filter>
            <radialGradient
              id="paint0_radial_77_247"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(690 690) rotate(90) scale(590)"
            >
              <stop stop-color="#A9C46C"></stop>
              <stop offset="1" stop-color="white"></stop>
            </radialGradient>
          </defs>
        </svg>
        <ul class="grid md:grid-cols-2 gap-4 md:gap-5">
          {
            programs.map((program) => {
              return (
                <li
                  class:list={[
                    program.featured
                      ? "col-span-1 md:col-span-2"
                      : "col-span-1",
                  ]}
                >
                  <ProgramCard
                    color={program.color}
                    description={program.description}
                    name={program.name}
                  />
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
